
//variables
$body-color: #DCDCDC;
$primary-color: #660099;
$white: #fff;
$task-color:#66cc99;

body {
  background-color: #D3D3D3;
}

h1 {
  color: $primary-color;
  font-weight: bold;
  margin-left: 50px;
}

  textarea {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
                /*nesting in SASS file*/
    &:focus {
          background-color: $task-color;
       }
  }


 #margin {
   margin-left: 10px;
   /*nesting in SASS file*/
    .txt-status {
      color: $primary-color;
    }
 }

button {
  background-color: $primary-color;
  color: $white;
/*nesting in SASS file*/
      &:hover{
        background-color: $white;
        color: $primary-color;
    }
      &:active{
        background-color: $body-color;
      }
}

.printedTask {
    margin: 15px 0 15px 0;
    background-color: $task-color;
    width: 500px;
    border: 1px solid $primary-color;
    border-radius: 15px;
            /*nesting in SASS file*/
    #info {
      margin-bottom: 0px;
      font-size: 12px;
    }

      .task-txt {
          word-wrap: break-word;
          margin-left: 10px;
          font-family: 'Montserrat', sans-serif;
          font-size: 20px;
      }

  .taskBtn {
          margin-left: 10px;
          font-size: 12px;
       }
}
